<div class="page-content">
	<form id="contactEdit" class="list-block">
		<ul>
			<input name="id" type="hidden" value="{{model.id}}">
			<li>
				<div class="item-content">
					<div class="item-media"><i class="icon ion-ios7-football-outline"></i></div>
					<div class="item-inner">
						<div class="item-input">
							<input name="firstName" type="text" placeholder="First name" value="{{model.firstName}}">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-content">
					<div class="item-media"><i class="icon ion-ios7-football-outline"></i></div>
					<div class="item-inner">
						<div class="item-input">
							<input name="lastName" type="text" placeholder="Last name" value="{{model.lastName}}">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-content">
					<div class="item-media"><i class="icon ion-ios7-telephone-outline"></i></div>
					<div class="item-inner">
						<div class="item-input">
							<input name="phone" type="tel" placeholder="Phone" value="{{model.phone}}">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</form>
</div>